<app-admin-nav></app-admin-nav>
<div class="form-signin">
    <h3 class="text-center">USERS LIST</h3>
</div>
  <div class=" ">
    <div class="input-group d-flex align-items-center justify-content-center my-3">
      <input [ngStyle]="{ 'height' : '38px' }" placeholder="Search" type="text" [(ngModel)]="searchText" class="input" (input)="search()" />
      <button class="btn btn-primary ml-4" (click)="showSearchResult()">Search</button>
    </div>
  </div>
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">SI</th>
          <th scope="col">Profile</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="(userdata$ | async) as userdata">
        <tr *ngFor="let item of userdata; let i = index">
          <td>{{i+1}}</td>
          <td><img class="rounded-circle" [src]='"http://localhost:5000/file/"+item.image' alt="No image" width="40px" height="40px"></td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td><button class="btn btn-warning" (click)="editUser(item._id)">Edit</button></td>
          <td><button class="btn btn-danger" (click)="deleteUser(item._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>