<app-nav></app-nav>
<form [formGroup]="form" (submit)="submit()" class="form-signin">
    <h2 class="mb-3 text-center">REGISTER</h2>
    <input formControlName="name" class="form-control mt-4" placeholder="Name" required>
    <input formControlName="email" type="email" class="form-control mt-2" placeholder="Email" required>
    <input formControlName="password" type="password" class="form-control mt-2" placeholder="Password" required>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form>