.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .dashboard-img{
    width:100%;
    height:auto;
  }

  .content-container{
    margin-top: -24px;
  }